body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    text-align: center;
}

#bg-glass {
    background: hsla(0, 0%, 100%, 0.15);
    backdrop-filter: blur(30px);
    color: whitesmoke;
}
